<!DOCTYPE HTML>
<head>
  <title>{% block title %}Hotel Recommender Flask Demo App{% endblock %}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #0a4275;">
  <a class="navbar-brand" href="/" style="color: white;"><b>Hotel Recommender</b> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/" style="color: white;">Home</a>

      <a class="nav-item nav-link" href="/about" style="color: white;">Project Overview</a>
      
    </div>
  </div>
</nav>

</head>
<body style="background-image: linear-gradient(#FFFFFF, rgb(0, 191, 255));position: relative;">
       <br>
       <br>
       <h1 style="text-align : center; padding-top: 2%;">Hotel Recommender</h1>
               <div class="text-center">
            <p>In this project, the objective is to transform implicit information provided by users into explicit features for a<br>content-based hotel recommender engine.<br><br>We conceptualised this engine to simplify hotel search process for travelers who have a particular preference<br>in mind, and are not keen to trawl through numerous options that may not fit their requirements.<br><br>To use the engine, a traveler simply selects a well-known hotel that he or she likes against the preferred<br>destination in pre-determined drop downs. He or she is then able to view ranked results according to two data<br>attributes: via common features or via reviews.<br><br>This recommender is built on content-based filtering methodology by collating item-item similarity matrices.<br>This website is built on top of Flask.<br><br>For the purpose of this project. I used dataset of "515K Hotel Revies Data in Europe" available on Kaggle.<br><br><br><br><br></p>
          </div>
        
        
  

   </body>
   <section class="">
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-3 pb-0">
          <!-- Section: CTA -->
          <section class="">
            <p class="d-flex justify-content-center align-items-center">
              <span class="me-3">Demo working of Hotel Recommender.</span>
            </p>
          </section>
          <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </section>
</html>
